<h1>Course Listing</h1>

<ul>
  <li>Code: CSSS111</li>
  <li>Name: Intro to Computer Science </li>
  <li>Description: A thourough intro to Computer Scinece</li>
</ul>

<ul>
  <li>Code: CSSS112</li>
  <li>Name: Intro to Computer Science </li>
  <li>Description: A thourough intro to Computer Scinece</li>
</ul>